.App {
  text-align: center;
}

.App-title {
  display:inline-block;
  width:200px;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  display:inline-block;
  margin-right:10px;
  width:200px;
}

.App-header {
  min-height: 15vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


